<%# parms: 'title' 'done' 'date' 'department' 'id'%>
<%# include survey/survey-elem.css when using %>
<a class="list-group-item list-group-item-action justify-content-between align-items-center d-flex" href="/surveys/<%= id -%>">
    <b class="survey-title"><%= title %></b>

    <time class="text-secondary date"><%= date -%></time>

    <i class="text-secondary ml-auto department"><%= department -%></i>
    <i class="fas fa-angle-right"></i>
</a>