<%# parms: 'title' %>
<li class="list-group-item list-group-item-action justify-content-between align-items-center d-flex">
    <div>
        <b><%= title %></b>

        <i class="text-secondary">02.11.2018</i>
    </div>
    <div>
        <i class="text-secondary" style="margin-right: 1em"><%= department %></i>
        <i class="fas fa-angle-right"></i>
    </div>
</li>