<%# Params: 'title' 'description' %>
<link rel="stylesheet" href="/stylesheets/survey/starcard.css">
<script src="/javascripts/survey/stars.js"></script>
<div class="card starcard" id="question-card">
    <div class="card-body">
        <h2 class="card-title">
            <%= title %>
        </h2>
        <% if (typeof(description) !== 'undefined') { %>
        <p class="card-text text-secondary">
            <%= description %>
        </p>
        <% } %>

        <form id="stars" class="ml-auto mr-auto">
            <div class="form-check form-check-inline">
                <input class="form-check-input star" type="radio" name="stars" id="star1" value="1" style="display: none !important">
                <label class="form-check-label" for="star1">
                    <i class="far fa-star"></i>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input star" type="radio" name="stars" id="star2" value="2" style="display: none !important">
                <label class="form-check-label" for="star2">
                    <i class="far fa-star"></i>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input star" type="radio" name="stars" id="star3" value="3" style="display: none !important">
                <label class="form-check-label" for="star3">
                    <i class="far fa-star"></i>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input star" type="radio" name="stars" id="star4" value="4" style="display: none !important">
                <label class="form-check-label" for="star4">
                    <i class="far fa-star"></i>
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input star" type="radio" name="stars" id="star5" value="5" style="display: none !important">
                <label class="form-check-label" for="star5">
                    <i class="far fa-star"></i>
                </label>
            </div>

        </form>


    </div>
</div>